body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width:400px;
  margin:50px auto;
  background-color: darkblue;
  padding:10px;
  display: flex ;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
   background-color: green;
   color: black;
   width:auto;
   height: auto;
   padding:10px ;
   

}

